################################################################
# If you change something compile this file with:
# utftpd_make /where/utftpd.cdb /where/utftpd.tmp <this-file
# else the daemon will ignore your changes.
################################################################
# 
# You can use "utftpd_dump <this_file" to create an human readable
# translation of the database file.
#
#
# a few path definitions.
class images { imagedir="/images"; } 
class ours { configdir="/config"; }
class customer { configdir="/customers"; }
#
# revision control stuff
class sccs {
	sccs-get=/bin/get;
	sccs-delta=/bin/delta;
    # also possible: sccs-unget or sccs-clean.
}
class rcs {
	rcs-co=/bin/co ;
	rcs-ci=/bin/delta
}
#
#
# allow read, write and create access to the config file, and optionally
# SCCS revision control.
# Note 1: ${configdir} should better be defined if the cdb file is going 
#         to be written
# Note 2: i include sccs since it's harmless: putting a file under version
#         control is manual work, not automated.
class rwc_config:sccs { 
	read+="${configdir}/${name}";
	write+="${configdir}/${name}";
	create+="${configdir}/${name}";
}
class rwc_cisco:images,rwc_config { read+=":${imagedir}/cisco"; }
#
# Our ciscos: may write their own configuration file, may read cisco images.
client 192.168.0.5:ours,rwc_cisco{
   name="cisco1"
}
client 192.168.0.4:ours,rwc_cisco{
   name="cisco2" ;
   # this one may also create an image file.
   create+=":${imagedir}/cisco/new_ios_file";
}
# Our ascends
client 192.168.0.2:ours,rwc_config { name="ascend"; }
client 192.168.0.118:ours,rwc_config { name="ascend.me"; }
# 
# Customers machines, may only backup their configuration
client 192.168.0.78:customer,rwc_config { name="big_biz"; }
client 192.168.0.77:customer,rwc_config { name="bug_soft"; }
